TOKEN= Ur bot token
MONGO_URI= Ur database uri
OWNERID= Ur User ID
SPOTIFYID= Ur spotify id get it on Spotify for Developer
SPOTIFYSECRET= Ur spotify secret get it on Spotify for Developer
LOGS= Ur logs channel id, Send Message when invited to a guild
GUILD_ID= Ur guild/server id, A Server Supports for this bot
CLIENT_ID= Ur app/bot client id
LHOST= Ur lavalink try out my lavalink on https://lavalink.darrennathanael.com/NoSSL/lavalink-without-ssl/
LPASS= Ur lavalink password